%table#blackboard
  %thead
    %th Name
    %th Drunk
    %th Debit
  %tbody
    - @users.each do |user|
      %tr{ :id => user.nick }
        %td{ :id => "#{user.nick}_name" }= user.nick
        %td{ :id => "#{user.nick}_drunk" }= user.drunk
        %td{ :id => "#{user.nick}_debit" }= user.debit

%ul#stock_information
  - @stock.each do |good|
    %li
      There should be
      %span{ :id => "#{good.name}_counter" }= good.amount
      bottles of
      = good.name
      left.

