%table#blackboard
  %thead
    %th.name Name
    %th.drunk Drunk
    %th.debit Debit
  %tbody
    - @users.each do |user|
      %tr{ :id => user.nick }
        %td.name{ :id => "#{user.nick}_name" }= user.nick
        %td.drunk{ :id => "#{user.nick}_drunk" }= user.drunk
        %td.debit{ :id => "#{user.nick}_debit" }= number_to_currency user.debit, :unit => '€', :format => '%n %u', :separator => ',', :delimiter => ' '

%ul#stock_information
  - @stock.each do |good|
    %li
      There should be
      %span{ :id => "#{good.name}_counter" }= number_to_human good.amount, :separator => ','
      bottles of
      = good.name
      left.
      - if user_signed_in? then
        You can drink a bottle of
        = good.name
        by clicking
        = image_submit_tag image_for_good(good), :name => "drink_#{good.name}", :id => "drink_good_#{good.name}", :class => "drink"

