%table#blackboard
  %thead
    %th.name Name
    %th.drunk Drunk
    %th.debit Debit
  %tbody
    - @users.each do |user|
      %tr{ :id => user.nick }
        %td.name{ :id => "#{user.nick}_name" }= user.nick
        %td.drunk{ :id => "#{user.nick}_drunk" }= user.drunk
        %td.debit{ :id => "#{user.nick}_debit" }= number_to_currency user.debit, :unit => '€', :format => '%n %u', :separator => ',', :delimiter => ' '

%ul#stock_information
  - @stock.each do |good|
    %li
      There should be
      %span{ :id => "#{good.name}_counter" }= good.amount
      bottles of
      = good.name
      left.

